:root {
    --primaryLight: ;
    --secondaryLight: ;
    --accentLight: ;
    --primaryDark: #1A1E2D;
    --secondaryDark: #1B2F56;;
    --accentDark: #22263F;
    --hintMain: #001E3D;
    --hintAccent: #198CFE;
    --correctMain: #0C3117;
    --correctAccent: #2EBF57;
    --incorrectMain: #3D0000;
    --incorrectAccent: #FF2525; 
}

* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    color: white;
}

 body {
    background-color: #080B16;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
 }
 
body div {
    display: flex;
    width: max-content;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
}

.middleDiv {
    justify-self: center;
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    font-size: 64px;
}

.emoji-container {
    display: grid;
    flex-direction: column;
    gap: 5px;
}

.emoji-container h2 {
    align-self: flex-start;
}

.emojiDisplay {
    width: 500px;
    height: 90px;
    background-color: var(--primaryDark);
    border: 4px solid var(--accentDark);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.emojiDisplay img:nth-child(odd) {
    animation-name: hint-rotate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.emojiDisplay img:nth-child(even) {
    animation-name: hint-rotate-reverse;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}


.hint-space {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hint-image:hover {
    cursor: pointer;
    animation-name: hint-rotate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.input-space {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.guess-box {
    width: 400px;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
    border-top: 3px solid var(--accentDark);
    border-bottom: 3px solid var(--accentDark);
    border-left: 3px solid var(--accentDark);
    background-color: var(--primaryDark);
    border-right: 0px none;
    font-family: "Jost", sans-serif;
    padding-left: 15px;
    font-weight: 400;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;

}

.guess-box::placeholder {
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
}

.guess-box:focus {
    outline: none;
}

.submit-guess {
    width: 100px;
    height: 56px;
    border-top:3px solid var(--accentDark) ;
    border-bottom: 3px solid var(--accentDark);
    border-right: 3px solid var(--accentDark);
    background-color: var(--secondaryDark);
    border-left: 0px none;
    border-radius: 0px 10px 10px 0px;
    font-size: 18px;
    font-weight: 400;
}

.submit-guess:hover {
    cursor: pointer;
    opacity: 0.8;
}


body div {
    position: relative;
}

.hint-box {
    position: fixed;
    width: 360px;
    height: 270px;
    top: 43%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
}

.hints {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 70px;
    width: 340px;
    background-color: var(--hintMain);
    border: 3px solid var(--hintAccent);
    gap: 10px;
    padding-left: 10px;
}

.hints span {
    font-size: 1rem;
    font-weight: bold;
    align-content: center;

}

.answer-validation-display {
    position: fixed;
    width: 360px;
    height: 100px;
    top: 82%;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.correct-answer {
    width: 340px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--correctMain);
    border: 3px solid var(--correctAccent);
    gap: 10px;
}

.incorrect-answer {
    width: 340px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--incorrectMain);
    border: 3px solid var(--incorrectAccent);
    gap: 10px;
}


/* Animations */

@keyframes hint-rotate{
    10%{
        rotate: 30deg;
    }
    25%{
        rotate: -30deg;
    }
    50%{
        rotate: 15deg;
    }
    75%{
        rotate: -15deg;
    }
    100% {
        rotate: 0deg;
    }
}

@keyframes hint-rotate-reverse{
    10%{
        rotate: -30deg;
    }
    25%{
        rotate: 30deg;
    }
    50%{
        rotate: -15deg;
    }
    75%{
        rotate: 15deg;
    }
    100% {
        rotate: 0deg;
    }
}